.HomeBox
{
    width: 100%;
    .bannerBox
    {
        width: 1200px;
        min-height: 80px;
        margin: 0 auto;
        // background-color: red;

        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        align-items:center;
    }
    .HomeIndex
    {
        width: 1200px;
        margin: 0px auto;

        img
        {
            width: 100%;
        }
    }
    
}